USE [master]
GO
/****** Object:  Database [id_db]    Script Date: 23-07-2019 20:24:46 ******/
CREATE DATABASE [id_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'id_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\id_db.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'id_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\id_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [id_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [id_db]
GO
/****** Object:  Table [dbo].[client]    Script Date: 23-07-2019 20:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[client_id] [nvarchar](50) NOT NULL,
	[client_secrect] [nvarchar](500) NOT NULL,
	[created_date] [date] NULL,
	[modified_date] [date] NULL,
 CONSTRAINT [PK_client] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users_token]    Script Date: 23-07-2019 20:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_token](
	[user_id] [nvarchar](50) NOT NULL,
	[access_token] [nvarchar](500) NOT NULL,
	[refresh_token] [nvarchar](500) NOT NULL,
	[acess_token_created_date] [date] NOT NULL,
	[access_token_life_time] [numeric](18, 0) NOT NULL,
	[refresh_token_cretaed_date] [date] NOT NULL,
	[refresh_token_life_time] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_users_token] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
